<html></html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Apreta en el siguiente link para confirmar tu cuenta.</p>
        <a href="{{link}}">Confirmar cuenta</a>
    </body>
</html>