<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Solicitó restablecer su contraseña.</p>
        <p> Por favor, haga clic en el enlace a continuación para restablecer su contraseña</p>
        <a href="https://{{link}}">Reestablecer contraseña</a>
    </body>
</html>